<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HMT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletOne</display-name>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.controller.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/ServletOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.controller.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeRequest</display-name>
    <servlet-name>MakeRequest</servlet-name>
    <servlet-class>com.controller.MakeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeRequest</servlet-name>
    <url-pattern>/MakeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequest</display-name>
    <servlet-name>DeleteRequest</servlet-name>
    <servlet-class>com.controller.DeleteRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequest</servlet-name>
    <url-pattern>/DeleteRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequest</display-name>
    <servlet-name>ViewRequest</servlet-name>
    <servlet-class>com.controller.ViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequest</servlet-name>
    <url-pattern>/ViewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.controller.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineServlet</display-name>
    <servlet-name>DeclineServlet</servlet-name>
    <servlet-class>com.controller.DeclineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineServlet</servlet-name>
    <url-pattern>/DeclineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.controller.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
</web-app>